/*
 * Copyright (c) 2021-2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DVORAK_L 0
#define QWERTY_L 1
#define COLEMK_L 2
#define NAV_L    3
#define SYM_L    4
#define ADJ_L    5
#define Undo   LC(Z)
#define Cut    LC(X)
#define Copy   LC(C)
#define Paste  LC(V)
#define Redo   LC(Y)

/ {
    behaviors {
        screenshot_delete: screenshot_delete {
            compatible = "zmk,behavior-hold-tap";
            label = "SCREENSHOT_DELETE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
        };

        copy_paste: copy_paste {
            compatible = "zmk,behavior-hold-tap";
            label = "COPY_PASTE";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        clipboard_dance: clipboard_dance {
            compatible = "zmk,behavior-tap-dance";
            label = "CLIPBOARD_DANCE";
            #binding-cells = <0>;
            bindings = <&copy_paste LC(V) LC(C)>, <&kp LC(X)>;
        };

        round_brackets: round_brackets {
            compatible = "zmk,behavior-hold-tap";
            label = "ROUND_BRACKETS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        round_tapdance: round_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "ROUND_TAPDANCE";
            #binding-cells = <0>;
            bindings =
                <&round_brackets RIGHT_PARENTHESIS LEFT_PARENTHESIS>,
                <&round_bracket_macro>;
        };

        square_brackets: square_brackets {
            compatible = "zmk,behavior-hold-tap";
            label = "SQUARE_BRACKETS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        square_tapdance: square_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "SQUARE_TAPDANCE";
            #binding-cells = <0>;
            bindings =
                <&square_brackets RIGHT_BRACKET LEFT_BRACKET>,
                <&square_bracket_macro>;
        };

        curly_brackets: curly_brackets {
            compatible = "zmk,behavior-hold-tap";
            label = "CURLY_BRACKETS";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <150>;
            flavor = "balanced";
        };

        curly_tapdance: curly_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "CURLY_TAPDANCE";
            #binding-cells = <0>;
            bindings =
                <&curly_brackets RIGHT_BRACE LEFT_BRACE>,
                <&curly_bracket_macro>;
        };
    };

    macros {
        round_bracket_macro: round_bracket_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_PARENTHESIS &kp RIGHT_PARENTHESIS &kp LEFT>;
            label = "ROUND_BRACKET_MACRO";
        };

        square_bracket_macro: square_bracket_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACKET &kp RIGHT_BRACKET &kp LEFT>;
            label = "SQUARE_BRACKET_MACRO";
        };

        curly_bracket_macro: curly_bracket_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LEFT_BRACE &kp RIGHT_BRACE &kp LEFT>;
            label = "CURLY_BRACKET_MACRO";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* DVORAK
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   '   |   ,   |   .   |   P   |   Y   |-----------------------------------|   F   |   G   |   C   |   R   |   L   | BKSPC |
 * | TAB   |   A   |   O   |   E   |   U   |   I   |-----------------------------------|   D   |   H   |   T   |   N   |   S   | ENTER |
 * | CTRL  |   ;   |   Q   |   J   |   K   |   X   |  ESC  |-------------------| CAPS  |   B   |   M   |   W   |   V   |   Z   |   /   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */

            bindings = <
&mt LEFT_ALT TAB  &kp SQT   &kp COMMA  &kp DOT  &kp P     &kp Y                                                                                   &kp F      &kp G      &kp C  &kp R  &kp L  &kp EQUAL
&mt LCTRL ESC     &kp A     &kp O      &kp E    &lt 2 U   &kp I                                                                                   &kp D      &kp H      &kp T  &kp N  &kp S  &kp SLASH
&kp GRAVE         &kp SEMI  &kp Q      &kp J    &kp K     &kp X                     &screenshot_delete DEL PRINTSCREEN                &kp C_MUTE  &kp B      &kp M      &kp W  &kp V  &kp Z  &kp BACKSLASH
                                                &kp LGUI  &mt LEFT_SHIFT BACKSPACE  &clipboard_dance                    &mo 3  &mo 3  &kp ENTER   &kp SPACE  &kp MINUS
            >;

            display-name = "Dvorak";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        qwerty_layer {
            /* QWERTY
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | `     |   Q   |   W   |   E   |   R   |   T   |-----------------------------------|   Y   |   U   |   I   |   O   |   P   | BKSPC |
 * | TAB   |   A   |   S   |   D   |   F   |   G   |-----------------------------------|   H   |   J   |   K   |   L   |   ;   | ENTER |
 * | CTRL  |   Z   |   X   |   C   |   V   |   B   |  ESC  |-------------------|  CAPS |   N   |   M   |   ,   |   .   |   /   |   '   |
 *                                 |  GUI  |  ALT  |SK SHFT|  Nav  |---|  Sym  | SPACE |  ALT  |  GUI  |
 */

            bindings = <
&kp GRAVE  &kp Q  &kp W  &kp E  &kp R     &kp T                                           &kp Y     &kp U     &kp I      &kp O    &kp P      &kp BSPC
&kp TAB    &kp A  &kp S  &kp D  &kp F     &kp G                                           &kp H     &kp J     &kp K      &kp L    &kp SEMI   &kp ENTER
&kp LCTRL  &kp Z  &kp X  &kp C  &kp V     &kp B     &kp ESC                   &caps_word  &kp N     &kp M     &kp COMMA  &kp DOT  &kp SLASH  &kp SQT
                                &kp LGUI  &kp LALT  &sk LSHIFT  &mo 2  &mo 3  &kp SPACE   &kp LALT  &kp RGUI
            >;

            display-name = "Qwerty";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };

        nav_layer {
            /* NAV
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | Copy  |   1   |   2   |   3   |   4   |   5   |-----------------------------------|   6   |   7   |   8   |   9   |   0   | BSPC  |
 * | Cut   |  GUI  |  Alt  | Ctrl  | Shift | Paste |-----------------------------------| PG UP |  Left |  Up   |  Down | Right | PG DN |
 * | Ctrl  |  F1   |  F2   |  F3   |  F4   |  F5   |  UnDo |-------------------| ReDo  |  F6   |  F7   |  F8   |  F9   |  F10  | Ctrl  |
 *                                 |       |       |       |       |---| ADJ_L |       |       |       |
 */

            bindings = <
&none  &none  &none  &none  &none  &none                               &square_tapdance  &kp HOME     &kp UP    &kp END        &none  &none
&none  &none  &none  &none  &none  &none                               &round_tapdance   &kp LEFT     &kp DOWN  &kp RIGHT      &none  &none
&none  &none  &none  &none  &none  &none   &none                &none  &curly_tapdance   &kp PAGE_UP  &none     &kp PAGE_DOWN  &none  &none
                            &none  &trans  &none  &none  &none  &none  &none             &none
            >;

            display-name = "Nav";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        sym_layer {
            /* SYM
 * -------------------------------------------------------------------------------------------------------------------------------------
 * | INS   |   !   |   @   |   #   |   $   |   %   |-----------------------------------|   ^   |   &   |   *   |   (   |   )   | BSPC  |
 * |       |   \   |   -   |   =   |   [   |   ]   |-----------------------------------| HOME  | Shift | Ctrl  | Alt   | Gui   | END   |
 * | Ctrl  |   |   |   _   |   +   |   {   |   }   |SkAltGr|-------------------| MENU  | Mute  | Vol-  | Vol+  | Play  |       | Ctrl  |
 *                                 |       |       |       |  ADJ_L |---|      |       |       |       |
 */

            bindings = <
&none  &kp CARET        &kp AMPERSAND  &kp ASTERISK  &none       &none                                    &none   &kp N7        &kp N8        &kp N9        &none  &none
&none  &kp EXCLAMATION  &kp AT_SIGN    &kp POUND     &kp DOLLAR  &kp PERCENT                              &none   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &none  &none
&none  &none            &none          &none         &none       &none        &none                &none  &none   &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none  &none
                                                     &none       &none        &none  &none  &none  &none  &kp N0  &kp DOT
            >;

            display-name = "Sym + Num";
            sensor-bindings = <&inc_dec_kp PG_UP PG_DN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        adj_layer {
            /* ADJUST
 * -------------------------------------------------------------------------------------------------------------------------------------
 * |       | QWERTY| DVORAK| COLEMK|       |       |-----------------------------------|       |  F11  |  F12  |Prt Scr|EP_OFF | EP_ON |
 * | RESET | BT 0  | BT 1  | BT 2  | BT 3  | BT 4  |-----------------------------------|       |       |       |       |       | RESET |
 * |       | LGUI  | LALT  | LCTRL | LSHIFT|       |BT CLR |-------------------|       |       |       |OUT_USB|OUT_BLE|       | BOOTL |
 *                                 |       |       |       |       |---|       |       |       |       |
 */

            bindings = <
&none       &to 1         &to 0         &to 0         &none         &none                                             &none   &kp F11  &kp F12       &kp PRINTSCREEN  &ext_power EP_OFF  &ext_power EP_ON
&sys_reset  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4                                      &none   &none    &none         &none            &none              &sys_reset
&none       &kp LGUI      &kp LALT      &kp LCTRL     &kp LSHIFT    &none         &bt BT_CLR                  &none   &none   &none    &out OUT_USB  &out OUT_BLE     &none              &bootloader
                                                      &trans        &trans        &trans      &trans  &trans  &trans  &trans  &trans
            >;

            display-name = "Adj";
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN &inc_dec_kp PG_UP PG_DN>;
        };
    };
};
